html,body{
    height: 100%;
}

#landing-section #landing-div{
  background-image: url('images/Vector.svg');
  height: 100%;
  z-index: 1;
}

section{
  height: 100vh;
  position: relative;
}

h1{
  z-index: 2;
  position:absolute;
  bottom: 15vh;
  text-align: center;
  width: 100%;
  font-family: Gordita-bold;
  font-size: 300%;
}

h2{
  position: relative;
  top:10vh;
  text-align: center;
  width: 100%;
}

#we-div .stage{
  width: 100%;
  text-align: center;
  position: relative;
}

#we-div #first{
  margin-top: 20vh;
}

#we-div #second{
  margin-top:10vh;
}

#we-div #third{
  margin-top:15vh;

}
#we-div #fourth{
  margin-top:10vh;
}
