
/* General CSS */

html,body{
    height: 100%;
}

section{
  height: 100vh;
  position: relative;
}

/* Home - Landing */

#landing-section .landing-div{
  background-image: url('images/Vector.svg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.landing-div .landing-header{
  z-index: 2;
  position:absolute;
  bottom: 15vh;
  text-align: center;
  width: 100%;
  font-family: Gordita-bold;
  font-size: 300%;
  color:#f5f5f5;
}

.landing-div .logo{
  position: absolute;
  top:30vh;
  text-align: center;
  width: 100%;
}

/* Home - WeSection */
#we-section{
  height: auto;
}
#we-section .column-item{
  text-align: center;
  margin-top: 1vh;
}

#we-section .item-description{
  margin-top: 1vh;
}

#we-section .item-describe{
  font-size: smaller;
}

.column-item .who{
  font-family: 'Oswald';
}

/* Home - WhyElips */

#why-elips {
  background-image: url('images/Group 6485.svg');
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#why-elips .col{
  margin: 10vh 0vh 10vh 0vh;
}


#why-elips ul, #two-page ul{
  list-style-image: url('images/ellipse 18.svg');
}

/* Home -TwoPage */

#two-page{
  height: auto;
}

#two-page .background-image-1{
  background-image: url('images/Group 6281.svg');
}

#two-page .background-image-2{
  background-image: url('images/Group 5846.svg');
}

#two-page .row{
  margin-top: 5vh;
}

#two-page .cursor{
  cursor:pointer;
  text-decoration: none;
}

#two-page .row-left{
  background-color: #fff;
  margin:0;
  padding-top: 5vh;
  height: 100%;

}
#two-page .h-tp{
  margin-left: 3vh;
}

#two-page .ul-item{
  display: list-item;
  list-style-image: url('images/ellipse 18.svg');
  list-style-position: outside;
  margin-top: 2vh;
  margin-left: 5vh;
  padding: 0px;
}

#two-page .newspaper{
  position: absolute;
  margin:15vh 0vh 0vh 3vh;
  border: 1.5vh solid #fff;
}

#two-page .inspect{
  text-decoration: none;
  font-size: smaller;
  width: 50%;
}

.inspect .a-arrow{
  margin-left: 2vh;
}

#two-page .foot-image{
  background-image: url('images/Group 182.svg');
  width: 100%;
  height: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* @media only screen and (max-width: 1000px){
  #we-section{
    height: 175vh; !important
  }

} */
