html,body{
    height: 100%;
}

#landing-section #landing-div{
  background-image: url('images/Vector.svg');
  height: 100%;
  z-index: 1;
}

section{
  height: 100vh;
  position: relative;
}

h1{
  z-index: 2;
  position:absolute;
  bottom: 15vh;
  text-align: center;
  width: 100%;
  font-family: Gordita-bold;
  font-size: 300%;
}

h2{
  position: relative;
  top:5vh;
  text-align: center;
  width: 100%;
}

#we-section #we-div .stage{
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

#we-div #first{
  margin-top: 10vh;
}

#we-div #third{
  margin-top:10vh;
}

.stage .describtion{
  font-size: smaller;
  color: #081539;
}

#we-div #elips-logo{
  position: absolute;
  top:45vh;
  text-align: center;
  width: 100%;
}

#landing-div #logo{
  position: absolute;
  top:40vh;
  text-align: center;
  width: 100%;
}

#landing-div #logo-img{
  max-height: 30vh;
}
